/* Estilos generales para el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  background: url('img/fondo.jpeg'); /* Imagen de fondo */
  background-size: cover; /* Ajustar la imagen al tamaño de la pantalla */
  color: #ffffff; /* Color de texto primario */
  font-family: 'Arial', sans-serif;
}

/* Definición de variables en :root */
:root {
  --color-primary: #fafafa; /* blanco */
  --color-secondary: #0040b7; /* azul oscuro */
  --color-highlight: #eaff00; /* Amarillo brillante */
  --color-background: rgba(243, 245, 252, 0.8); /* Fondo con transparencia */
  --border-radius: 24px; /* Radio de borde */
  --container-width: 960px; /* Ancho del contenedor */
  --right-section-bg: rgba(255, 255, 255, 0); /* Fondo oscuro para la sección derecha */
}

/* Estilos para el campo de entrada de texto */
.text-input {
  float: left;
  display: block;
  margin: 20px auto;
  width: 35%;
  padding: 20px; /* Reducido para evitar desbordamiento */
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius);
  font-size: 16px;
  background: var(--color-highlight);
  color: var(--color-secondary);
}

/* Estilos para la sección izquierda del diseño */
.left {
  width: 40%;
  float: left;
  margin-top: 70px;
  text-align: left;
  height: 200px; /* Altura de las áreas de texto */
  padding: 10px;
  font-size: 16px;
  resize: none; /* No permite cambiar el tamaño */
 }

/* Estilos para el botón izquierdo */
.left-button {
  width: 50%;
  float: left;
  margin-top: 20px;
  text-align: left;
}

/* Estilos específicos para los botones */
#btn-encriptar, #btn-desencriptar {
  width: 40%;
  padding: 15px;
  margin: 10px;
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  cursor: pointer;
}

#btn-encriptar {
  background: var(--color-highlight);
  color: #000000;
}

#btn-desencriptar {
  background: var(--color-highlight);
  color: #000;
}

/* Estilos para párrafos dentro del contenedor */
p {
  color: var(--color-primary);
}

/* Estilos base para la sección derecha */
.right {
  width: 35%;
  float: right;
  text-align: center;
  background: var(--right-section-bg);
  border-radius: var(--border-radius);
  padding: 40px;
  color: var(--color-primary);
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .right {
    width: 50%; /* Cambia el ancho al 50% para ocupar toda la pantalla */
    float: none; /* Elimina el flotado para que ocupe todo el ancho */
    padding: 20px; /* Ajusta el padding para un espacio más adecuado en pantallas pequeñas */
  }

  /* Ajustes específicos para la imagen */
  #imgDer {
    width: 80%; /* Ajusta el ancho de la imagen para adaptarse mejor a pantallas pequeñas */
    margin: 10px auto; /* Centra la imagen y ajusta el margen */
    display: block; /* Asegura que la imagen sea un bloque para manejar correctamente el margen */
  }
}

/* Estilos específicos para la imagen derecha */
#imgDer {
  width: 45%; /* Ajusta el ancho al 100% para ocupar todo el contenedor */
  margin: 10px 0; /* Incrementa el espacio alrededor de la imagen */
  border-radius: 8px; /* Añade un borde redondeado a la imagen si es apropiado */
}

/* Estilos para los elementos de texto dentro de #texto y #texto2 */
#texto, #texto2 {
  width: 90%; /* Ancho ajustado de los textareas */
  margin-bottom: 20px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-primary);
  background: var(--color-secondary);
  color: var(--color-primary);
  font-size: 16px;
}

#texto {
  background: var(--color-secondary);
  border: none;
  font-size: 16px;
  font-weight: bold;
}

/* Estilos para el botón de copiar */
#copiar {
  display: block;
  width: 50%;
  padding: 20px;
  margin: 20px auto;
  border: none;
  border-radius: var(--border-radius);
  background: var(--color-highlight);
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos para la sección de logo */
.logo {
  text-align: left;
  border: none;
}

/* Estilos para la imagen del logo */
.logoImg {
  width: auto; /* Ajuste del ancho de la imagen del logo */
}

/* Estilos para el pie de página */
.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #0000007d;
  color: var(--color-secondary);
  position: fixed;
  bottom: 0;
}

/* Estilo para las notificaciones */
.toast {
  visibility: hidden; /* Oculta la notificación por defecto */
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  transition: visibility 0s, opacity 0.5s linear; /* Transición para mostrar/ocultar la notificación */
}

/* Muestra la notificación */
.toast.show {
  visibility: visible;
  opacity: 1;
}

/* Estilo específico para el área de texto de salida */
#output-text {
  background-size: contain; /* Ajusta el tamaño de la imagen para que quepa dentro del cuadro */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 600px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .text-container {
    width: calc(100% - 20px); /* Ancho ajustado de los textareas para una columna completa */
  }

  textarea {
    height: 100px; /* Ajuste de altura para pantallas pequeñas */
  }

  .buttons {
    flex-direction: column;
  }

  .action-button {
    margin: 10px 0;
  }
}
